body {
    font-family: cookie, sans-serif;
    font-size: 30px;
    text-align: center;
    background-image: url(media/bg.png);
  }
  
  #converter {
    display: inline-block;
    margin-top: 50px;
  }
  
  input, select, button {
    font-family: NERKO ONE, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    background-image: url(media/bg.png);
    border-radius: 20px;
    
  }
  
  #output {
    font-size: 35px;
    margin-top: 20px;
    border: solid;
    border-radius: 20px;
    height: 45px;
    font-family: NERKO ONE, sans-serif;
  }
  #middle{
    font-size: 40px;
  }
  #footer{
    background: #1a1a1a;
    height: 100px;
    text-align: center;
    position:absolute;
    bottom:0;
    width:105%;
    left: 0px;
}
.Copyright p{
    color: white;
    font-size: 25px;
    padding: auto;
    letter-spacing: 2px;
    
}
  